#main {
    width: 400px;
    height: 400px;
    background: white;
    border: 2px solid darkslateblue;
    margin: 0 auto;
    overflow: hidden;
}

#con {
    width: 100%;
    height: 400px;
    position: relative;
    top: -100px; /*隐藏最上层的那行*/
}

.row{
    height: 100px;
    width: 100%;
}

.cell{
    height: 100px;
    width: 100px;
    float: left;
}

.green {
    background: darkseagreen;
}