*{
    padding: 0;
    margin: 0;
}
body{
    background: cadetblue;
}
.container{
    height: 400px;
    width: 400px;
    margin: 50px;
}
ul{
    height: 30px;
}
ul li{
    display: inline-block;
    font-size: 13px;
    background: dimgrey;
    padding: 8px 10px;
    margin-right: 8px;
    border-radius: 5px 5px 0 0;
}
.on{
    background: #fff;
}

.pic{
    height: 300px;
    width: 400px;
    background: #fff;
    padding: 5px;
    margin-top: 3px;
    overflow: hidden;
    border-radius: 0 3px 3px 3px;
}
.pic img{
    height: 300px;
    width: 400px;
}